<div class="container-fluid" ng-show="(!showPokemon)">
<div class="row pokedex-form-bar">
  <div class="col-xs-10">
    <div class="input-group">
      <span class="input-group-addon pokedex-search" id="basic-addon1">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
      <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" ng-model="searchEntry">
    </div>
  </div>
  <div class="col-xs-2 text-center">
    <img class="reorder-list" ng-click="orderList()" src="./img/filter-results-button.png">
  </div>
</div>
<div ng-repeat="pokemon in pokemons | filter:searchEntry | orderBy:orderType">
  <div class="pokemon-actions" ng-show="showActions" ng-swipe-left="showActions = false">
    <button class="btn btn-default btn-lg" ng-click="caughtPokemon(pokemon.id)">Caught</button>
    <button class="btn btn-default btn-lg" ng-click="setOnBattleBox(pokemon.id)">Battle Box</button>
  </div>
  <div class="media pokemon" ng-show="(!showActions)" ng-swipe-right="showActions = true">
    <a ng-click="showInfo(pokemon)">
      <div class="media-left">
        <img class="media-object" ng-src="{{pokemon.image}}">
      </div>
      <div class="media-body">
        <!-- TODO: create a filter with this funcion -->
        <span class="pokemon-number">#{{("000" + pokemon.id).slice(-3)}}</span>
        <h4 class="media-heading">{{pokemon.name}}</h4>
        <div class="pokemon-types">
          <span ng-repeat="type in pokemon.types" class="pokemon-type {{type.name}}"></span>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
<div ng-show="(showPokemon)">
  <nav class="navbar navbar-pokedex description">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ng-click="hideInfo()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <h2 class="navbar-text">{{'Description'|uppercase}}</h2>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
  <!-- TODO: make a directive okInfo -->
<div class="row">
 		<section class="container-fluid pokedex-entry">
 			<header class="row vertical-align">
 				<div class="pokemon-image col-xs-4">
 					<img class="img-responsive" alt="selPokemon.name" data-ng-src="{{selPokemon.image}}">
 				</div>
 				<div class="pokemon-name col-xs-8">
 					<div class="row vertical-align">
 						<div class="col-xs-8">
 							<h2>#{{("000" + selPokemon.id).slice(-3)}} {{selPokemon.name}}</h2>
 						</div>
 						<div class="col-xs-4 icons">
 							<img ng-click="setOnBattleBox(selPokemon.id)" src="img/empty-plate.png">
 							<img ng-click="caughtPokemon(selPokemon.id)" src="img/star.png">
 						</div>
 					</div>
 				</div>
 			</header>
 			<div class="row">
 				<div class="pokemon-info col-xs-8 col-xs-offset-4">
 					<ul class="list-inline">
 						<li><h3>{{selPokemon.height/10}} m</h3></li>
 						<li><h3>{{selPokemon.weight/10}} kg</h3></li>
 					</ul>
 					<p>{{selPokemon.description}}</p>
 					<div class="pokemon-types">
 						<span ng-repeat="type in selPokemon.types" class="pokemon-type {{type.name}}"></span>
 					</div>
 				</div>
 			</div>
 			<div class="row">
 				<div class="panel panel-default">
 					<div class="panel-heading">General information</div>
 					<div class="table-responsive">
 						<table class="table">
 							<tbody>
 								<tr>
 									<td>Hidden Abilities</td>
 									<td>
 										<ul class="list-inline">
 											<li ng-repeat="ability in selPokemon.abilities">{{ability.name}}</li>
 										</ul>
 									</td>
 								</tr>
 								<tr>
 									<td>Location</td>
 									<td>
 										<span ng-if="!!selPokemon.location_area_encounters">
 											Starter pokemon on <b>{{selPokemon.region}} Region</b>
 										</span>
 										<!-- toDO: iterate over location_area_enconters if not empty-->
 									</td>
 								</tr>
 							</tbody>
 						</table>
 					</div>
 				</div>
 			</div>
 			<div class="row">
 				<div class="panel panel-default">
 					<div class="panel-heading">Evolutions</div>
 					<div class="table-responsive">
 						<table class="table evolution-table">
 							<tr ng-repeat="evolution in selPokemon.evolutions">
 								<td class="col-xs-4">
 									<img class="img-responsive" alt="{{selPokemon.name}}" data-ng-src="{{evolution.image}}">
 								</td>
 								<td class="pokemon-evolution col-xs-8">
 									<span class="pokemon-number">#{{("000" + evolution.id).slice(-3)}}</span>
 									<h4>{{evolution.name}}</h4>
 									<p>LV. {{evolution.minLevel}}</p>
 									<div class="pokemon-types">
 										<span ng-repeat="type in evolution.types" class="pokemon-type {{type.name}}"></span>
 									</div>
 								</td>
 							</tr>
 						</table>
 					</div>
 				</div>
 			</div>
 		</section>
</div>
</div>
</div>
